---
import ToolLayout from "../layouts/ToolLayout.astro";
import HeroTool from "../components/HeroTool.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Area from "../components/tools/Area.vue";
import ToolCardHorizontal from "../components/ToolCardHorizontal.astro";
---

<ToolLayout title="Area Converter">
  <HeroTool
    toolName="Area Converter"
    toolInfo="Need to measure your area in acres? This tool is for you!"
  >
    <Fragment><Breadcrumbs currentPage="Length Converter" /></Fragment>
  </HeroTool>

  <section>
    <Area client:load />
  </section>

  <section class="p-[2rem] max-w-[1000px] mx-auto">
    <h2 class="text-5xl mb-5">Try other <br /> tools</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
      <ToolCardHorizontal
        href="/currency-converter"
        heading="Currency Converter"
        description="Currency converter with Open Exchange Rates API"
      >
        <Fragment>
          <img src="/images/currency-icon.svg" alt="Currency Icon" />
        </Fragment>
      </ToolCardHorizontal>

      <ToolCardHorizontal
        href="/arabic-to-roman"
        heading="Arabic to Roman Numerals"
        description="Convert your Arabic numbers to Roman Numerals"
      >
        <Fragment>
          <img src="/images/ancient-icon.svg" alt="Ancient Icon" />
        </Fragment>
      </ToolCardHorizontal>

      <ToolCardHorizontal
        href="/speed-converter"
        heading="Speed converter"
        description="Convert your km/h to miles, knots and more"
      >
        <Fragment>
          <img src="/images/speedometer-icon.svg" alt="Speedometer Icon" />
        </Fragment>
      </ToolCardHorizontal>

      <ToolCardHorizontal
        href="/decimal-to-binary"
        heading="Decimal To Binary converter"
        description="Convert your decimal numbers to binary"
      >
        <Fragment>
          <img src="/images/binary-icon.svg" alt="Decimal to binary Icon" />
        </Fragment>
      </ToolCardHorizontal>

      <ToolCardHorizontal
        href="/area-converter"
        heading="Area converter"
        description="Need to measure your area in acres? This tool is for you!"
      >
        <Fragment>
          <img src="/images/area-icon.svg" alt="Area Icon" />
        </Fragment>
      </ToolCardHorizontal>
    </div>
  </section>
</ToolLayout>
