---
import ToolLayout from "../layouts/ToolLayout.astro";
import HeroTool from "../components/HeroTool.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Converter from "../components/tools/Converter.vue";
import ToolCardHorizontal from "../components/ToolCardHorizontal.astro";
---

<ToolLayout title="Currency Converter">
  <HeroTool
    toolName="Currency Converter"
    toolInfo="Simple currency converter with Open Exchange Rate API"
  >
    <Fragment><Breadcrumbs currentPage="Currency Converter" /></Fragment>
  </HeroTool>

  <section class="max-w-[1000px] mx-auto">
    <Converter client:load />
  </section>

  <section class="p-[2rem] max-w-[1000px] mx-auto">
    <h2 class="text-5xl mb-5">Try other <br /> tools</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3">
      <ToolCardHorizontal
        href="/arabic-to-roman"
        heading="Arabic to Roman Numerals"
        description="Convert your Arabic numbers to Roman Numerals"
      >
        <Fragment>
          <img src="/images/ancient-icon.svg" alt="Ancient Icon" />
        </Fragment>
      </ToolCardHorizontal>

      <ToolCardHorizontal
        href="/speed-converter"
        heading="Speed converter"
        description="Convert your km/h to miles, knots and more"
      >
        <Fragment>
          <img src="/images/speedometer-icon.svg" alt="Speedometer Icon" />
        </Fragment>
      </ToolCardHorizontal>

      <ToolCardHorizontal
        href="/decimal-to-binary"
        heading="Decimal To Binary converter"
        description="Convert your decimal numbers to binary"
      >
        <Fragment>
          <img src="/images/binary-icon.svg" alt="Decimal to binary Icon" />
        </Fragment>
      </ToolCardHorizontal>

      <ToolCardHorizontal
        href="/area-converter"
        heading="Area converter"
        description="Need to measure your area in acres? This tool is for you!"
      >
        <Fragment>
          <img src="/images/area-icon.svg" alt="Area Icon" />
        </Fragment>
      </ToolCardHorizontal>

      <ToolCardHorizontal
        href="/length-converter"
        heading="Length converter"
        description="Convert your meters to miles, kilometers and more"
      >
        <Fragment>
          <img src="/images/area-icon.svg" alt="Area Icon" />
        </Fragment>
      </ToolCardHorizontal>
    </div>
  </section>
</ToolLayout>
