---
import ToolLayout from "../layouts/ToolLayout.astro";
import HeroTool from "../components/HeroTool.astro";
import DecimalBinary from "../components/tools/DecimalBinary.vue";
---

<ToolLayout title="Decimal to Binary Converter">
  <HeroTool
    toolName="Decimal to Binary"
    toolInfo="Tool that helps you to convert your decimal number to binary and vise versa"
  />

  <section>
    <DecimalBinary client:load />
  </section>
</ToolLayout>
