---
import Layout from "../layouts/MainLayout.astro";
import Hero from "../components/HeroMain.astro";
import ToolCard from "../components/ToolCard.astro";
---

<Layout title="COOLS">
  <main>
    <Hero />

    <section
      id="tools"
      class="relative mt-10 bg-[#F4EEDB] py-[2rem] md:py-[80px] overflow-hidden"
    >
      <img
        class="absolute z-[0] top-[50%] rotate-45 min-w-[800px]"
        src="images/tools-bg-doodle.svg"
        alt="Background doodle"
      />
      <div class="max-w-[1000px] px-[2rem] mx-auto">
        <h2 class="text-8xl mb-5 text-typodark">TOOLS</h2>
      </div>

      <div
        class="max-w-[1000px] px-[2rem] mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3"
      >
        <ToolCard
          href="/currency-converter"
          heading="Currency converter"
          description="Currency converter with Open Exchange Rate API"
        >
          <Fragment>
            <img src="/images/currency-icon.svg" alt="Currency Icon" />
          </Fragment>
        </ToolCard>

        <ToolCard
          href="/arabic-to-roman"
          heading="Arabic to Roman"
          description="Convert your Arabic numbers to Roman numerals"
        >
          <Fragment>
            <img src="/images/ancient-icon.svg" alt="Ancient Icon" />
          </Fragment>
        </ToolCard>

        <ToolCard
          href="#"
          heading="Roman To Arabic"
          description="There are MCMX reasons to use arabic numeral system"
        >
          <Fragment>
            <img src="/images/arabic-icon.svg" alt="Arabic Icon" />
          </Fragment>
        </ToolCard>

        <ToolCard
          href="/decimal-to-binary"
          heading="Decimal to Binary"
          description="110010111000011110011111010011001011110010110010111001111100111"
        >
          <Fragment>
            <img src="/images/binary-icon.svg" alt="Binary Icon" />
          </Fragment>
        </ToolCard>

        <ToolCard
          href="#"
          heading="Area Converter"
          description="Need to measure your area in acres? This tool is for you!"
        >
          <Fragment>
            <img src="/images/area-icon.svg" alt="Area Icon" />
          </Fragment>
        </ToolCard>

        <ToolCard
          href="/length-converter"
          heading="Length Converter"
          description="Convert your meters to miles, kilometers and more"
        >
          <Fragment>
            <img src="/images/ruler-icon.svg" alt="Ruler Icon" />
          </Fragment>
        </ToolCard>
      </div>
    </section>
  </main>
</Layout>
