---
interface Props {
  url: string;
  btnColor: String;
  textColor: String;
  btnText: String;
}

const { url, btnColor, textColor, btnText } = Astro.props;
---

<a
  href={url}
  target="_blank"
  class="w-full py-3 h-[56px] text-center rounded-md flex justify-center items-center gap-2"
  style={`background-color: ${btnColor}; color: ${textColor};`}
>
  <slot />
  {btnText}
</a>

<style scoped>
  a {
    font-family: Koulen;
  }
</style>
