---
interface Props {
  url: string;
  btnColor: String;
  textColor: String;
  btnText: String;
}

const { url, btnColor, textColor, btnText } = Astro.props;
---

<a
  href={url}
  class="w-full py-3 h-[56px] flex justify-center items-center text-center text-xl rounded-md"
  style={`background-color: ${btnColor}; color: ${textColor};`}
  >{btnText}
</a>

<style scoped>
  a {
    font-family: Koulen;
  }
</style>
