---
import ButtonPrimary from "./ButtonPrimary.astro";

let currentYear = new Date().getFullYear();
---

<footer class="bg-[#242424] text-white">
  <div
    class="p-[2rem] max-w-[1000px] flex md:flex-row md:justify-between flex-col gap-4 mx-auto"
  >
    <div>
      <img
        class="w-1/2 max-w-[216px] mb-2"
        src="/images/logo-inverted.svg"
        alt="Cools inverted logo"
      />
      <p class="text-[#E5E5E5] w-5/6 mb-5">
        Cools is a bunch of useful and fun tools that you can use for your
        purposes
      </p>

      <div class="md:flex flex-col hidden font-[Koulen] text-2xl">
        My contacts:
        <ul class="text-base leading-10">
          <li>
            <a href="#" class="flex gap-3 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                ><path
                  fill="currentColor"
                  d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.287 5.906c-.778.324-2.334.994-4.666 2.01c-.378.15-.577.298-.595.442c-.03.243.275.339.69.47l.175.055c.408.133.958.288 1.243.294c.26.006.549-.1.868-.32c2.179-1.471 3.304-2.214 3.374-2.23c.05-.012.12-.026.166.016c.047.041.042.12.037.141c-.03.129-1.227 1.241-1.846 1.817c-.193.18-.33.307-.358.336a8.154 8.154 0 0 1-.188.186c-.38.366-.664.64.015 1.088c.327.216.589.393.85.571c.284.194.568.387.936.629c.093.06.183.125.27.187c.331.236.63.448.997.414c.214-.02.435-.22.547-.82c.265-1.417.786-4.486.906-5.751a1.426 1.426 0 0 0-.013-.315a.337.337 0 0 0-.114-.217a.526.526 0 0 0-.31-.093c-.3.005-.763.166-2.984 1.09"
                ></path></svg
              >
              Telegram
            </a>
          </li>

          <li>
            <a href="#" class="flex gap-3 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                ><path
                  fill="currentColor"
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59c.4.07.55-.17.55-.38c0-.19-.01-.82-.01-1.49c-2.01.37-2.53-.49-2.69-.94c-.09-.23-.48-.94-.82-1.13c-.28-.15-.68-.52-.01-.53c.63-.01 1.08.58 1.23.82c.72 1.21 1.87.87 2.33.66c.07-.52.28-.87.51-1.07c-1.78-.2-3.64-.89-3.64-3.95c0-.87.31-1.59.82-2.15c-.08-.2-.36-1.02.08-2.12c0 0 .67-.21 2.2.82c.64-.18 1.32-.27 2-.27c.68 0 1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82c.44 1.1.16 1.92.08 2.12c.51.56.82 1.27.82 2.15c0 3.07-1.87 3.75-3.65 3.95c.29.25.54.73.54 1.48c0 1.07-.01 1.93-.01 2.2c0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8"
                ></path></svg
              >
              GitHub
            </a>
          </li>

          <li>
            <a href="#" class="flex gap-3 items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                ><path
                  fill="currentColor"
                  d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"
                ></path></svg
              > bogdan.bulah@gmail.com
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="flex flex-col">
      <h2 class="text-3xl text-left mb-3">FEEL FREE to share your feedback</h2>

      <form class="flex flex-col gap-3">
        <input
          class="p-2 rounded-md"
          type="text"
          placeholder="Enter Your Name"
        />
        <input class="p-2 rounded-md" type="text" placeholder="E-mail" />
        <textarea
          class="text-black p-2 rounded-md"
          placeholder="Write your ideas here..."
          name=""
          id=""
          cols="30"
          rows="5"></textarea>
        <ButtonPrimary
          url="#"
          btnText="Send feedback"
          btnColor="#EA985D"
          textColor="white"
        />
      </form>
    </div>
  </div>

  <div class="flex justify-center items-center text-[#242424] bg-[#A8EB53]">
    <h2 class="py-2">{currentYear}, Bogdan Bulakh</h2>
  </div>
</footer>

<style scoped>
  ul,
  a {
    font-family: Barlow Semi Condensed;
  }
</style>
