<header
  class="w-full max-w-[1000px] mx-auto py-3 flex items-center justify-between px-[2rem] my-5"
>
  <a class="w-fit" href="/">
    <img class="w-[120px]" src="/images/logo.svg" alt="Cools logo" />
  </a>

  <nav class="hidden">
    <ul class="flex gap-4">
      <li><a href="#">Home</a></li>
      <li><a href="#">Tools</a></li>
      <li><a href="#">Github</a></li>
    </ul>
  </nav>

 
</header>
