---
interface Props {
  heading: string;
  description: string;
  href: string;
  icon?: string;
}

const { heading, description, href, icon } = Astro.props;
---

<a href={href} class="flex flex-col bg-white p-[20px] rounded-md">
  <div class="flex justify-between mb-4">
    <i class="w-[65px]">
      <slot />
    </i>

  </div>

  <div class="flex flex-col gap-2">
    <h2 class="text-[25px]">{heading}</h2>
    <p class="text-[19px]">{description}</p>
  </div>
</a>
