---
interface Props {
  title: string;
}

import "@fontsource/koulen";
import "@fontsource/barlow-semi-condensed";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavBar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  h1,
  h2, a {
    font-family: Koulen;
  }
  p {
	font-family: Barlow Semi Condensed;
  }
  html {
    font-family: Barlow Semi Condensed;
    scroll-behavior: smooth;
  }
</style>
